/JavaApplication/nbproject/private/
/JavaApplication/build/
/JavaApplication4/nbproject/private/
/JavaApplication4/build/
/CppJNILibrary_4/build/
/CppJNILibrary_4/dist/
/MyService/.gradle/
/gradleprojectTest/.gradle/
/gradleprojectTest/build/
/gradleproject1/.gradle/
/GluonApplication/target/
/gradleproject2/.gradle/
